*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(https://cdn.wallpapersafari.com/18/7/BZYUrG.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.head-container{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    width: 100%;
}


.header{
    color: white;
    width: max-content;
    margin: auto;
    overflow: auto;
    padding: 20px 30px;
    border: 1px solid white;
    font-size: 22px;
}

.btn-cont{
    text-align: center;
    width: 100%;
}


.counter{
    color: white;
    width: 28rem;
    font-size: 48px;
    margin: auto;
    margin-bottom: 50px;
}